body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6em;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

.bold{
  font-weight: bold;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*parallax effect*/
    background-attachment: fixed;
}

.pimg1{
    min-height: 100%;
    background-image: url(landing.png);
}

.pimg2{
    background-image: url(Team.png);
    width: 100%;
    height: 400px;
}

.pimg3{
  background-image: url(Spenden/Hand-Heart.png);
  width: 100%;
  height: 250px;
}

.pimg2::after{
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    box-shadow: 0px 0px 25px 10px #000000;
}

.dividerline{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #1b81a2;
    width: 100%;
    height: 8px;
}

.landing-wrapper{
    text-align: center;
    margin: auto 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    width: 100%;
}

.logo-landing{
    padding-bottom: 15px;
    filter: invert(100%);
}

.landing-subtext{
    text-transform: uppercase;
    margin-top: 50px;
    transform: skew(-20deg);
    width: 99%;
}

#span{ 
    background-color: #1b81a2;
    padding: 10px;
    font-size: 20pt;
    font-weight: 300;
    letter-spacing: 10px;
}

.about-heading{
    color: white;
    padding-top: 100px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    font-size: 30pt;
    text-transform: uppercase;
}

.about-p{
    color: white;
    font-size: 16pt;
    text-align: center;
    font-weight: 300;
}

.sub-heading{
    color: #252525;
    padding-top: 100px;
    margin: 0;
    text-align: center;
    font-size: 30pt;
}

.about{
    max-width: 75%x;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: fit-content;
}

.p{
    font-size: 16pt;
    text-align: center;
    font-weight: 400;
}

.comp-elements{
    margin-top: 60px;
}

.logo{
    display: inline;
    margin-left: 15%;
    overflow: hidden;
}

.p-align-left{
    position: absolute;
    text-align: left;
    margin-top: 3%;
    margin-right: 12.5%;
    font-size: 16pt;
    display: inline;
    left: 50%;
}

.sub-sub-heading{
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 16pt;
    font-weight: 300;
    width: 45%;
}

.blue{
    color: #1b81a2;
}

#section3{
    margin-top: 100px;
    width: 60%;
    margin: auto;
}

.heading{
    font-size: 30pt;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 100px;
}

.p-section3{
    margin-top: 50px;
    text-align: center;
}

#section4{
    margin-top: 100px;
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
}

/*timeline start*/

h1 {
    text-align: center;
    height: 38px;
    margin: 60px 0;
}

h1 span {
    white-space: nowrap;
}
  
.flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
  
.input-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    max-width: 100%;
    position: relative;
    z-index: 0;
}
  
.input {
    width: 25px;
    height: 25px;
    background-color: #1b81a2;
    position: relative;
    border-radius: 50%;
}

  .input:hover {
    cursor: pointer;

}

.input::before, .input::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1b81a2;
    width: 150px;
    height: 5px;
    max-width: 150px;
}

.input::before {
    left: calc(-200px + 102.5px);
}

.input::after {
    right: calc(-200px + 102.5px);
}

.input.active {
    background-color: #1b81a2;
}

.input.active::before {
    background-color: #1b81a2;
}

.input.active::after {
    background-color: #1b81a2;
}

.input.active span {
    font-weight: 700;
}

.input.active span::before {
    font-size: 13px;
}

.input.active span::after {
    font-size: 15px;
}

  .input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
    background-color: #1b81a2;
}

  .input span {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }

  .input span::before, .input span::after {
    visibility: visible;
    position: absolute;
    left: 50%;
  }
  .input span::after {
    content: attr(data-year);
    top: 25px;
    transform: translateX(-50%);
    font-size: 14px;
  }
  .input span::before {
    content: attr(data-info);
    top: -65px;
    width: 70px;
    transform: translateX(-5px) rotateZ(-45deg);
    font-size: 12px;
    text-indent: -10px;
  }
  
  .description-flex-container {
    width: 80vw;
    font-weight: 300;
    font-size: 20px;
    margin-top: 100px;
    max-width: 1000px;
    text-align: center;
  }
  .description-flex-container p {
    margin-top: 0;
    display: none;
  }
  .description-flex-container p.active {
    display: block;
  }

/*references start*/

#section5{
    background-color: #dfdfdf;
}

.image-grid1{
    --gap: 100px;
    --num-cols: 2;
    --row-height: 292.5px;
    --col-width: 450px;

    box-sizing: border-box;
    padding: 20px 200px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 450px);
    grid-template-rows: var(--row-height);
    grid-gap: var(--gap);
    justify-content: center;
    overflow: hidden;
}

.image-grid1 > div > img{
    border-radius: 20px;
    cursor: pointer;
}

.show-more1{
    margin-left: 50%;
    transform: translateX(-50%);
    background: none;
    border: transparent;
    font-size: 40pt;
    font-weight: bold;
    color: #252525;
    cursor: pointer;
    padding: 0;
    display: block;
}

.image-grid2{
    --gap: 100px;
    --num-cols: 2;
    --row-height: 292.5px;
    --col-width: 450px;

    box-sizing: border-box;
    padding: 0px 200px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 450px);
    grid-template-rows: var(--row-height);
    grid-gap: var(--gap);
    justify-content: center;
    display: none;
    overflow: hidden;
}

.image-grid2 > div > img{
    border-radius: 20px;
    cursor: pointer;
}

.overlay {
    border-radius: 20px;
    position: absolute;
    top: -10;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 60%);
  }

.grid-container{
    position: relative;
}

.grid-container:hover .overlay {
    opacity: 1;
}

.overlay-text{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    text-align: center;
}

.overlay-p{
    font-weight: 300;
    margin-top: -3px;
}

.showmore-container{
    position: relative;
    cursor: pointer;
    padding: 30px 0px;
}

/*refurbishments*/

.sub-heading2{
    color: #252525;
    padding-top: 30px;
    margin: 0;
    text-align: center;
    font-size: 30pt;
}

.grid-container1{
    position: relative;
    height: 600px;
    width: 450px;
    margin: 30px auto;
}

.image-grid2-1{
    --gap: 100px;
    --num-cols: 2;
    --row-height: px;
    --col-width: 450px;

    box-sizing: border-box;
    padding: 20px 200px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 450px);
    grid-template-rows: var(--row-height);
    grid-gap: var(--gap);
    justify-content: center;
    overflow: hidden;
}

.image-grid2-1 > div > img{
    border-radius: 20px;
    cursor: pointer;
}

.image-grid2-2{
    --gap: 100px;
    --num-cols: 2;
    --row-height: 292.5px;
    --col-width: 450px;

    box-sizing: border-box;
    padding: 0px 200px 60px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 450px);
    grid-template-rows: var(--row-height);
    grid-gap: var(--gap);
    justify-content: center;
    display: none;
    overflow: hidden;
}

.image-grid2-2 > div > img{
    border-radius: 20px;
    cursor: pointer;
}

.container1{
    height: 600px;
    width: 450px;
    overflow: hidden;
}

.container1 > img{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
}

.container{
    height: 292.5px;
    width: 450px;
    overflow: hidden;
}

.container > img{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
}

#after-img1, #after-img2, #after-img3, #after-img4, #after-img5, #after-img6{
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

#slider1, #slider2, #slider3, #slider4, #slider5, #slider6{
    position: relative;
    -webkit-appearance: none;
    width: calc(100% + 51px);
    height: 100%;
    margin-left: -25.5px;
    background-color: transparent;
    outline: none;
}

#slider1::-webkit-slider-thumb, 
#slider2::-webkit-slider-thumb,
#slider3::-webkit-slider-thumb,
#slider4::-webkit-slider-thumb, 
#slider5::-webkit-slider-thumb,
#slider6::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 51px;
    width: 51px;
    background: url("slider.png");
    background-size: contain;
    cursor: pointer;
}

/*Map*/

#section6{
    position: relative;
    height: fit-content;
    cursor: pointer;
}

.slideUp{
    position: absolute;
}

.places{
    max-height: 400px;
}

.places-heading{
    color: white;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    text-transform: uppercase;
}

.places-text{
    position: absolute;
    z-index: 2;
    height: 400px;
    width: 100%;
}

.places-text::after{  
    content:"";
    position:absolute;
    width:100%;
    height: 100%;
    top: 0;
    z-index: -1;
    pointer-events: non;
    background-color: rgba(0, 0, 0, 0.6);
}

.places-p{
    position: absolute;
    max-width: 50%;
    color: white;
    font-size: 16pt;
    text-align: center;
    font-weight: 300;
    padding-bottom: 0px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*criteria timeline*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline ul{
    padding-bottom: 50px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #1b81a2;
  color: #fff;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #1b81a2 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #1b81a2;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #1b81a2;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

/*expert opinions*/

.expertcontainer1{
  width: 75%;
  padding-top: 20px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.expertcontainer1 img{
  margin-right: 50px;
  float: left;
}

.expertcontainer1 p{
  margin-left: 15px;
  margin-right: 15px;
}

/*donations*/

#section9{
  background-color: #dfdfdf;
  padding-bottom: 50px;
}

.btn2{
  color: #fff;
  background-color: #1b81a2;
  padding: 10px;
  font-size: 20pt;
  
}

.donationcontainer{
  width: 50%;
  padding-top: 50px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}
  
.donationcontainer img{
  margin-right: 50px;
  float: left;
}

.donationcontainer p{
  margin-left: 15px;
  margin-right: 15px;
  font-size: 16pt;
  font-weight: 300;
}

.donationcontainer > div{
  transform: skew(-20deg);
}

.donationcontainer1{
  display: flex;
  max-width: 60%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto 0 auto;
  border-radius: 20px;
  background-color: #fff;
}

.donationcontainer1 img{
  width: 300px;
  height: 200px;
}

.hover-img {
  background-color: transparent;
  color: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  min-width: 300px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 32px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}

/*contact*/

#section10{
  background-color: #1b81a2;

}

.contact-heading{
  text-align: center;
  font-size: 30pt;
  color: #252525;
  padding: 50px 0px;
}

.contactflex{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.contactflex span{
  margin: 0 200px;
}

.contactflex h3{
  color: #fff;
  text-align: center;
}

.contactflex p{
  text-align: center;
}

.footer{
  width: 100%;
  display: inline-block;
  margin:  0;
  height: 70px;
}

.copyright{
  float: left;
}

.links{
  float: right;
  line-height: 70px;
  padding-right: 200px;
}

.links a{
  text-decoration: underline;
}

.copyright p{
  padding-left: 200px;;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

/*media queries*/

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #1b81a2 transparent transparent;
  }
}

@media (max-width: 1750px) {
  .logo{
    display: block;
    z-index: -1;
    opacity: 0.2;
    margin: 0 auto;
  }

  .p-align-left{
    position: absolute;
    display: inline;
    left: 0;
    text-align: center;
    margin: 0px 5%;
    margin-top: -500px;
    z-index: 1;
  }
}

@media (max-width: 1400px) {
  
  .expertcontainer1{
    width: px;
    height: fit-content;
    padding: 20px 0px;
  }

  .expertcontainer1 img{
    display: none;
  }

  .expertcontainer1 p{

  }

}

@media (max-width: 1275px) {
  .p-align-left{
    position: absolute;
    display: inline;
    left: 0;
    text-align: center;
    margin: 0px 5%;
    margin-top: -600px;
    z-index: 1;
  }

  .sub-sub-heading{
    width: 90%;
  }

  .donationcontainer{
    width: 90%;
  }

  .contactflex span{
    margin: 0 50px;
  }

  .links{
    padding-right: 50px;
  }

  .copyright p{
    padding-left: 50px;;
  }

}

@media (max-width: 1050px) {
  .image-grid1{
    --num-cols: 1;
  }

  .image-grid2{
    --num-cols: 1;
  }

  .image-grid2-1{
    --num-cols: 1;
  }

  .image-grid2-2{
    --num-cols: 1;
  }

  .overlay{
    opacity: 1;
  }

}

@media (max-width: 900px){
  
  #span{
    font-size: 10pt;
    line-height: 2em;
  }

  .logo-landing{
    width: 50%;
    height: 50%;
  }

}

@media (max-width: 600px){

  h1{
    margin: 0px 0px;
  }

}

@media (min-width: 1275px) {

  .input::before {
    left: -37.5px;
  }

  .input::after {
    right: -37.5px;
  }
}

@media (max-width: 850px) {
  .input {
    width: 17px;
    height: 17px;
  }
  .input::before, .input::after {
    height: 3px;
  }
  .input::before {
    left: calc(-4vw + 8.5px);
  }
  .input::after {
    right: calc(-4vw + 8.5px);
  }
}
@media (max-width: 600px) {
  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 15vh;
  }

  .input {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
    background-color: #1b81a2;
  }
  .input::before, .input::after {
    content: none;
  }
  .input span {
    width: 100%;
    height: 100%;
    display: block;
  }
  .input span::before {
    top: calc(100% + 5px);
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }
  .input span::after {
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ECF0F1;
  }

  .description-flex-container {
    margin-top: 30px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  body {
    min-height: 950px;
  }
}